@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=PT+Serif&family=Rampart+One&display=swap');

$gutter: 30px;
$border-width: 4px;
$dot-diameter: 8px;

.container {
  background: url('../../assets//images/banner.png') no-repeat center fixed;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  color: #e5e5e5;
}

.readingIcon {
  font-size: 3em;
  color: #f8961e;
}

.educationContainer {
  flex-basis: 100%;
}

.educationHeader {
  border-left: 5px solid #f8961e;
  padding: 0.5rem 1.5rem;
}

.myEducationText {
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
  font-weight: 600;
}

.timeline {
  display: flex;
  flex-direction: column;
  margin: 5% 0;
  margin-left: 4rem;

  & .education {
    background: #fff;
    position: relative;
    display: flex;
    margin: 20px 0;
    border-radius: 8px;
    flex-wrap: wrap;

    & .educationYear {
      border-radius: 8px 8px 0 0;
      background: #24b47e;
      display: flex;
      align-items: center;
      flex-basis: 100%;
      color: #9251ac;
      padding: 15px;

      & .icon {
        position: absolute;
        top: 50%;
        left: -66px;
        font-size: 1.6rem;
        transform: translateY(-50%);
        color: #24b47e;
      }

      & div {
        color: #aff1b6;
        font-size: 20px;
        font-weight: 700;
        white-space: nowrap;
      }
    }

    & .content {
      padding: 20px;
      flex-basis: 100%;

      & .title {
        font-size: 1.2rem;
        line-height: 1.4;
        text-transform: uppercase;
        margin-bottom: 8px;
        font-weight: 600;
        color: #9251ac;
        letter-spacing: 1.5px;
      }
    }

    & .school {
      flex-basis: 100%;

      p {
        color: black;
      }
    }

    &::before {
      content: "";
      width: 3rem;
      height: 3rem;
      position: absolute;
      background: #aff1b6;
      border-radius: 100%;
      left: -5rem;
      top: 50%;
      transform: translateY(-50%);
      border: 2px solid #24b47e;
    }

    &::after {
      content: "";
      width: 2px;
      height: 100%;
      background: #f8961e;
      position: absolute;
      top: 66%;
      left: -3.5rem;
    }

    &:last-child {

      &:after {
        content: none;
      }

      & .icon {
        left: -70px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .educationContainer {
    flex-basis: 50%;
  }

  .experienceContainer {
    flex-basis: 50%;
  }

  .timeline {
    margin-left: 5rem;

    & .education {
      flex-wrap: nowrap;
      max-width: 565px;

      & .educationYear {
        border-radius: 8px 0 0 8px;
        justify-content: center;
        flex-basis: 25%;
      }

      & .content {
        flex-basis: 60%;
      }

      &::after {
        top: 77%;
      }

    }
  }
}

.experienceTimeline {
  padding: 100px 50px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0px;
    left:calc(33% + 45px); //$gutter/2
    bottom: 0px;
    width: $border-width;
    background: #ddd;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  } 
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
  .title {
    margin-bottom: .5em;
    float: left;
    width: 33%;
    padding-right: $gutter;
    text-align: right;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: $dot-diameter;
      height: $dot-diameter;
      border: $border-width solid salmon;
      background-color:#fff;
      border-radius:100%;
      top: 15%;
      right: -$dot-diameter;
      z-index: 99;
    }
    h3 {
      margin: 0;
      font-size: 120%;
    }
    p {
      margin: 0;
      font-size: 100%;
    }
  }
  .body {
    margin: 0 0 3em;
    float: right;
    width: 56%;
    padding-left: $gutter;
    p {
      line-height: 1.4em;
      &:first-child {
        margin-top: 0;
        font-weight: 400;
      }
    }
    ul {
      color:#aaa;
      padding-left: 0;
      list-style-type: none;
      li:before {
        content: "–";
        margin-right: .5em;
      }
    }
  }
}