.container {
  background: url('../assets/images/banner.png');
  background-size: cover;
  min-height: 640px;
  color: #fff;
}

.navBar {
  padding: 30px 50px;
}

.myName {
  font-size: 25px;
  letter-spacing: 8px;
  text-transform: capitalize;
}