@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=PT+Serif&family=Rampart+One&display=swap');

$bg-color: rgba(129, 224, 144, 0.14);
$icon-background: #fff;
$text-padding: 20px;

.container {
  padding: 30px 15px;
  text-align: center;
}

.aboutMeText {
  margin: 0 auto;
  width: fit-content;
  font-family: 'Indie Flower', cursive;
  font-size: 8vw;
}

.subContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.imageInfo {
  padding: 30px 20px;
  background-color: $bg-color;
  flex-basis: 100%;

  & img{
    border-radius: 50%;
    width: 50%;
    height: auto;
  }

  & figCaption {
    font-family: 'PT Serif', serif;
    margin: 5px;
    font-size: 5vw;
  }
}

.fa {
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 8px;
  border-radius: 50%;

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.faFacebook {
  background: $icon-background;
  color: #3B5998;
}

.faInstagram {
  background: $icon-background;
  color: #bc2a8d;
}

.faLinkedin {
  background: $icon-background;
  color: #007bb5;
}

.faGithub {
  background: $icon-background;
  color: #333;
}

.aboutMeParah {
  background-color: $bg-color;
  flex-basis: 100%;
  padding: 15px;
  text-align: justify;
  word-spacing: 2px;
  line-height: 1.5em;

  & h1 {
    margin: 10px 0;
    font-size: $text-padding;
    font-family: 'Rampart One', cursive;
  }

  & p {
    margin: 10px 0;
  }
}

@media screen and (min-width: 768px) {
  .aboutMeText {
    font-size: 40px;
  }

  .subContainer {
    min-width: 900px;
    justify-content: center;
  }

  .imageInfo {
    flex-basis: 35%;
    margin-right: 15px;

    & img{
      width: 32%;
      height: auto;
    }

    & figCaption {
      font-family: 'PT Serif', serif;
      margin: 5px;
      font-size: 22px;
    }
  }

  .aboutMeParah {
    flex-basis: 50%;
    padding: $text-padding;

    & h1{
      padding: $text-padding;
      font-size: 25px;
    }

    & p{
      padding: 0 $text-padding;
    }
  }
}